<div class="row" style="margin-top: 1em;">
  <div class="col-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <!-- Form Buttons -->
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-success" style="margin-right: .5em;">Save</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <!-- Name Input -->
      <div class="row" style="margin-top: 1em;">
        <div class="col-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <!-- Image Url Input -->
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="imagePath">Image Url</label>
            <input type="text" id="imagePath" class="form-control" formControlName="imagePath">
          </div>
        </div>
      </div>
      <!-- Preview Image -->
      <div class="row">
        <div class="col-xs-12">
          <img src="" alt="" class="img-responsive">
        </div>
      </div>
      <!-- Description Textarea -->
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" class="form-control" rows="3" formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <!-- Ingredients Sub-form -->
      <div class="row" style="margin-top: 1em;">
        <div class="col-12" formArrayName="ingredients">
          <div class="form-group">
            <label for="ingredients">Ingredients</label>
          </div>
          <div class="row" *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i" style="margin-bottom: 0.5em;">
            <div class="col-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-3">
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-danger">X</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>