.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
}

.alert-box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 30vh;
    left: 20vw;
    z-index: 100;
    padding: 20px;
    width: 40vw;
}

.alert-box-actions {
  text-align: right;
}
