<!-- Add new recipe button -->
<div class="row" style="margin-top: 16px;">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<br/>
<!-- Spinner/Loader -->
<div *ngIf="isFetching" class="spinner-container">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<!-- Recipe Item Card Group-->
<div class="row" *ngIf="!isFetching">
  <div class="col-xs-12">
    <app-recipe-item
      *ngFor="let recipeElement of recipes; let i = index"
      [recipe]="recipeElement"
      [index]="i"
    ></app-recipe-item>
  </div>
</div>
